.screen
{
    width:1000px
}


.custom-card {
    max-width: 500px; /* Adjust the width as needed */
    width: 100%; /* Ensure the card takes the full width within the specified max-width */
  }

  .custom-form-field {
    width: 100%; /* Adjust the width as needed */
  }